<div class="row col-sm-6 col-sm-offset-3">
    <h1>User's profile - {{upc.username}}</h1>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                User name:
            </div>
            <div class="panel-body">
                {{upc.user.id}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                First name:
            </div>
            <div class="panel-body">
                {{upc.user.firstName}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Last name:
            </div>
            <div class="panel-body">
                {{upc.user.lastName}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Email:
            </div>
            <div class="panel-body">
                {{upc.user.email}}
            </div>
        </div>
    </div>
</div>
