<div class="row col-sm-6 col-sm-offset-3">
    <h1>Process definition '{{pc.processDefinitionId}}'</h1>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Id:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.id}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Version:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.version}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Key:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.key}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Category:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.category}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Suspended?
            </div>
            <div class="panel-body">
                {{pc.processDefinition.suspended}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Name:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.name}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Description:
            </div>
            <div class="panel-body">
                {{pc.processDefinition.description}}
            </div>
        </div>
        <div class="panel panel-default" ng-if="!pc.processDefinition.suspended">
            <div class="panel-heading">
                Form:
            </div>
            <div class="panel-body">
                <form name="processDefinitionForm"
                    ng-submit="pc.submitProcessDefinitionForm(processDefinitionForm.$valid)"
                    novalidate>
                    <div class="form-group"
                        ng-repeat="processDefinitionFormProperty in pc.processDefinitionFormProperties"
                        ng-class="{'has-error': processDefinitionForm[processDefinitionFormProperty.id].$invalid && !processDefinitionForm[processDefinitionFormProperty.id].$pristine}">
                        <div ng-if="processDefinitionFormProperty.readable">
                            <div ng-if="processDefinitionFormProperty.type == 'string'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk"
                                        ng-if="processDefinitionFormProperty.required">
                                    </span>{{processDefinitionFormProperty.name}}:
                                </label>

                                <input type="text" class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    ng-model="processDefinitionFormProperty.value"
                                    ng-required="processDefinitionFormProperty.required"
                                    ng-if="processDefinitionFormProperty.writable" />
                                <input type="text" class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    value="{{processDefinitionFormProperty.value}}"
                                    ng-required="processDefinitionFormProperty.required"
                                    disabled
                                    ng-if="!processDefinitionFormProperty.writable" />

                                <p class="help-block"
                                    ng-if="processDefinitionForm[processDefinitionFormProperty.id].$invalid && !processDefinitionForm[processDefinitionFormProperty.id].$pristine">
                                    Invalid content of the textual field!
                                </p>
                            </div>
                            <div ng-if="processDefinitionFormProperty.type == 'long'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk"
                                        ng-if="processDefinitionFormProperty.required">
                                    </span>{{processDefinitionFormProperty.name}}:
                                </label>

                                <input type="number" class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    ng-model="processDefinitionFormProperty.value"
                                    ng-required="processDefinitionFormProperty.required"
                                    ng-if="processDefinitionFormProperty.writable" />
                                <input type="number" class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    value="{{processDefinitionFormProperty.value}}"
                                    ng-required="processDefinitionFormProperty.required"
                                    disabled
                                    ng-if="!processDefinitionFormProperty.writable" />

                                <p class="help-block"
                                    ng-if="processDefinitionForm[processDefinitionFormProperty.id].$invalid && !processDefinitionForm[processDefinitionFormProperty.id].$pristine">
                                    Invalid content of the numerical field!
                                </p>
                            </div>
                            <div ng-if="processDefinitionFormProperty.type == 'boolean'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="{{processDefinitionFormProperty.id}}"
                                            ng-model="processDefinitionFormProperty.value"
                                            ng-required="processDefinitionFormProperty.required"
                                            ng-if="processDefinitionFormProperty.writable" />
                                        <input type="checkbox" name="{{processDefinitionFormProperty.id}}"
                                            ng-checked="processDefinitionFormProperty.value"
                                            ng-required="processDefinitionFormProperty.required"
                                            disabled
                                            ng-if="!processDefinitionFormProperty.writable" />

                                        <span class="glyphicon glyphicon-asterisk"
                                            ng-if="processDefinitionFormProperty.required">
                                        </span>{{processDefinitionFormProperty.name}}
                                    </label>

                                    <p class="help-block"
                                        ng-if="processDefinitionForm[processDefinitionFormProperty.id].$invalid && !processDefinitionForm[processDefinitionFormProperty.id].$pristine">
                                        Invalid selection!
                                    </p>
                                </div>
                            </div>
                            <div ng-if="processDefinitionFormProperty.type == 'date'">

                            </div>
                            <div ng-if="processDefinitionFormProperty.type == 'enum'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk"
                                        ng-if="processDefinitionFormProperty.required">
                                    </span>{{processDefinitionFormProperty.name}}:
                                </label>

                                <select class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    ng-model="processDefinitionFormProperty.value"
                                    ng-required="processDefinitionFormProperty.required"
                                    ng-if="processDefinitionFormProperty.writable">
                                    <option value="{{enumValue.id}}"
                                        ng-selected="enumValue.id == processDefinitionFormProperty.value"
                                        ng-repeat="enumValue in processDefinitionFormProperty.enumValues">
                                        {{enumValue.name}}
                                    </option>
                                    <option value=""
                                        ng-if="!processDefinitionFormProperty.required">
                                    </option>
                                </select>

                                <select class="form-control" name="{{processDefinitionFormProperty.id}}"
                                    ng-required="processDefinitionFormProperty.required"
                                    disabled
                                    ng-if="!processDefinitionFormProperty.writable">
                                    <option value="{{enumValue.id}}"
                                        ng-selected="enumValue.id == processDefinitionFormProperty.value"
                                        ng-repeat="enumValue in processDefinitionFormProperty.enumValues">
                                        {{enumValue.name}}
                                    </option>
                                </select>

                                <p class="help-block"
                                    ng-if="processDefinitionForm[processDefinitionFormProperty.id].$invalid && !processDefinitionForm[processDefinitionFormProperty.id].$pristine">
                                    Invalid selection!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-danger" ng-if="pc.unsuccessfulPostFormData">
                        Unsuccessful posted form data!
                    </div>

                    <button type="submit" class="btn btn-primary"
                        ng-disabled="processDefinitionForm.$invalid">
                        Start process
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
