<div class="row col-sm-6 col-sm-offset-3">
    <h1>Task '{{tc.task.name}}'</h1>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Id
            </div>
            <div class="panel-body">
                {{tc.task.id}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Name:
            </div>
            <div class="panel-body">
                {{tc.task.name}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Description:
            </div>
            <div class="panel-body">
                {{tc.task.description}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Created date:
            </div>
            <div class="panel-body">
                {{tc.task.createTime | date : "dd-MM-yyyy HH:mm:ss"}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Due date:
            </div>
            <div class="panel-body">
                {{tc.task.dueDate | date : "dd-MM-yyyy HH:mm:ss"}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Owner:
            </div>
            <div class="panel-body">
                <a ui-sref="profile({id: tc.task.owner})">{{tc.task.owner}}</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Assigned to:
            </div>
            <div class="panel-body">
                <a ng-if="tc.task.assignee != undefined && tc.task.assignee != null" ui-sref="profile({id: tc.task.assignee})">
                    {{tc.task.assignee}}
                </a>
                <button ng-if="tc.task.assignee == undefined || tc.task.assignee == null" type="button" class="btn btn-primary"
                    ng-click="tc.claimTask()">
                    Claim
                </button>
            </div>
        </div>
        <div ng-if="tc.task.assignee != undefined && tc.task.assignee != null" class="panel panel-default">
            <div class="panel-heading">
                Form:
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
