<div class="row col-sm-6 col-sm-offset-3">
    <h1>Task '{{tc.taskId}}'</h1>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Id
            </div>
            <div class="panel-body">
                {{tc.task.id}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Name:
            </div>
            <div class="panel-body">
                {{tc.task.name}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Description:
            </div>
            <div class="panel-body">
                {{tc.task.description}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Created date:
            </div>
            <div class="panel-body">
                {{tc.task.createTime | date : "dd-MM-yyyy HH:mm:ss"}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Due date:
            </div>
            <div class="panel-body">
                {{tc.task.dueDate | date : "dd-MM-yyyy HH:mm:ss"}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Owner:
            </div>
            <div class="panel-body">
                <a ui-sref="profile({id: tc.task.owner})">{{tc.task.owner}}</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Assigned to:
            </div>
            <div class="panel-body">
                <a ng-if="tc.task.assignee != undefined && tc.task.assignee != null" ui-sref="profile({id: tc.task.assignee})">
                    {{tc.task.assignee}}
                </a>
                <button ng-if="tc.task.assignee == undefined || tc.task.assignee == null" type="button" class="btn btn-primary"
                    ng-click="tc.claimTask()">
                    Claim
                </button>
            </div>
        </div>
        <div ng-if="tc.task.assignee != undefined && tc.task.assignee != null" class="panel panel-default">
            <div class="panel-heading">
                Form:
            </div>
            <div class="panel-body">
                <form name="taskForm" ng-submit="tc.submitTaskForm(taskForm.$valid)" novalidate>
                    <div class="form-group" ng-repeat="taskFormProperty in tc.taskFormProperties"
                        ng-class="{'has-error' : taskForm[taskFormProperty.id].$invalid && !taskForm[taskFormProperty.id].$pristine}">
                        <div ng-if="taskFormProperty.readable">
                            <div ng-if="taskFormProperty.type == 'string'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk" ng-if="taskFormProperty.required">
                                    </span>{{taskFormProperty.name}}:
                                </label>

                                <input type="text" class="form-control" name="{{taskFormProperty.id}}"
                                    ng-model="taskFormProperty.value" ng-required="taskFormProperty.required"
                                    ng-if="taskFormProperty.writable" />
                                <input type="text" class="form-control" name="{{taskFormProperty.id}}"
                                    value="{{taskFormProperty.value}}" ng-required="taskFormProperty.required"
                                    disabled ng-if="!taskFormProperty.writable"/>

                                <p class="help-block"
                                   ng-if="taskForm[taskFormProperty.id].$invalid && !taskForm[taskFormProperty.id].$pristine">
                                    Invalid content of the textual field!
                                </p>
                            </div>
                            <div ng-if="taskFormProperty.type == 'long'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk" ng-if="taskFormProperty.required">
                                    </span>{{taskFormProperty.name}}:
                                </label>

                                <input type="number" class="form-control" name="{{taskFormProperty.id}}"
                                    ng-model="taskFormProperty.value" ng-required="taskFormProperty.required"
                                    ng-if="taskFormProperty.writable" />
                                <input type="number" class="form-control" name="{{taskFormProperty.id}}"
                                    value="{{taskFormProperty.value}}" ng-required="taskFormProperty.required"
                                    disabled ng-if="!taskFormProperty.writable" />

                                <p class="help-block"
                                    ng-if="taskForm[taskFormProperty.id].$invalid && !taskForm[taskFormProperty.id].$pristine">
                                    Invalid content of the numerical field!
                                </p>
                            </div>
                            <div ng-if="taskFormProperty.type == 'boolean'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="{{taskFormProperty.id}}"
                                            ng-model="taskFormProperty.value"
                                            ng-required="taskFormProperty.required"
                                            ng-if="taskFormProperty.writable" />
                                        <input type="checkbox" name="{{taskFormProperty.id}}"
                                            ng-checked="taskFormProperty.value"
                                            ng-required="taskFormProperty.required"
                                            disabled
                                            ng-if="!taskFormProperty.writable" />

                                        <span class="glyphicon glyphicon-asterisk"
                                            ng-if="taskFormProperty.required">
                                        </span>{{taskFormProperty.name}}
                                    </label>

                                    <p class="help-block"
                                        ng-if="taskForm[taskFormProperty.id].$invalid && !taskForm[taskFormProperty.id].$pristine">
                                        Invalid selection!
                                    </p>
                                </div>
                            </div>
                            <div ng-if="taskFormProperty.type == 'date'">

                            </div>
                            <div ng-if="taskFormProperty.type == 'enum'">
                                <label>
                                    <span class="glyphicon glyphicon-asterisk" ng-if="taskFormProperty.required">
                                    </span>{{taskFormProperty.name}}:
                                </label>

                                <select class="form-control" name="{{taskFormProperty.id}}"
                                    ng-model="taskFormProperty.value"
                                    ng-required="taskFormProperty.required"
                                    ng-if="taskFormProperty.writable">
                                    <option value="{{enumValue.id}}"
                                        ng-selected="enumValue.id == taskFormProperty.value"
                                        ng-repeat="enumValue in taskFormProperty.enumValues">
                                        {{enumValue.name}}
                                    </option>
                                    <option value=""
                                        ng-if="!taskFormProperty.required">
                                    </option>
                                </select>

                                <select class="form-control" name="{{taskFormProperty.id}}"
                                    ng-required="taskFormProperty.required"
                                    disabled
                                    ng-if="!taskFormProperty.writable">
                                    <option value="{{enumValue.id}}"
                                        ng-selected="enumValue.id == taskFormProperty.value"
                                        ng-repeat="enumValue in taskFormProperty.enumValues">
                                        {{enumValue.name}}
                                    </option>
                                </select>

                                <p class="help-block"
                                    ng-if="taskForm[taskFormProperty.id].$invalid && !taskForm[taskFormProperty.id].$pristine">
                                    Invalid selection!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-danger" ng-if="tc.unsuccessfulPostFormData">
                        Unsuccessful posted form data!
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="taskForm.$invalid">
                        Complete task
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
